.ant-table tbody > tr:hover > td {
  background: none !important;
}

.ant-table-wrapper
  .ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before,
.ant-table-wrapper
  .ant-table-thead
  > tr
  > td:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before {
  width: 0px;
}

.ant-spin-dot i {
  background-color: #ff4667 !important;
}

/* Ant Design Inputs */
.ant-input {
  border-color: #dce0eb !important;
  outline: none !important;
  box-shadow: none !important;
}

.ant-input:focus {
  border-color: #f84563 !important; /* Màu đỏ khi focus */
}

/* Input with allowClear - Remove clear icon and reset border/box-shadow */
.ant-input-clear {
  display: none !important; /* Ẩn biểu tượng clear */
}

.ant-input-affix-wrapper,
.ant-input-affix-wrapper {
  border-color: #dce0eb !important;
  box-shadow: none !important; /* Loại bỏ box-shadow */
  outline: none !important; /* Loại bỏ outline mặc định khi focus */
}

//slider
.ant-slider-track {
  background-color: #ff5364 !important;
}

.ant-slider-rail {
  background-color: #f5f5f5 !important;
}

.ant-slider .ant-slider-handle::after {
  background-color: #ffffff;
  box-shadow: 0 0 0 2px #ff5364 !important;
}
